.contenedor {
  text-align: center;
}
.contenedor img {
  display: block;
}
.contenedor div {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.contenedor div .estado {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
 
.contenedor div .puntaje{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}